files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      
      server {
        listen 443;
        server_name localhost;
        
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
        
        ssl_session_timeout 5m;
        
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDfjCCAmYCCQDEhIwgL0b8kDANBgkqhkiG9w0BAQsFADCBgDELMAkGA1UEBhMC
VUsxDzANBgNVBAcMBkxvbmRvbjERMA8GA1UECgwIV2ViIGNoYXQxHTAbBgNVBAMM
FG5hdGFsaTAwNzMuZ2l0aHViLmlvMS4wLAYJKoZIhvcNAQkBFh9uYXRhbGlhLm1h
a2FyY2h1a0Bzb21icmFpbmMuY29tMB4XDTIyMTExMDA2NDEzMFoXDTIzMTExMDA2
NDEzMFowgYAxCzAJBgNVBAYTAlVLMQ8wDQYDVQQHDAZMb25kb24xETAPBgNVBAoM
CFdlYiBjaGF0MR0wGwYDVQQDDBRuYXRhbGkwMDczLmdpdGh1Yi5pbzEuMCwGCSqG
SIb3DQEJARYfbmF0YWxpYS5tYWthcmNodWtAc29tYnJhaW5jLmNvbTCCASIwDQYJ
KoZIhvcNAQEBBQADggEPADCCAQoCggEBAMSKl4XCREJ6MpDAx3kQHnIgnxib+Wvx
hk6IJvaML6yH3APjQszWrEmr1Tv41Ut18+lKi1Pg1VAxJLhx9R3VClI0PW/bsMJz
1RmE00YDEYSDsZVtkPLEizJWr/WDjj7sZ8Fln4GROEGbVPnQU1L9VvqTyi7uDI5T
5YhVNLuFeFlBhV0W4cIqTG/ylTarsrJ8YfGULgvcrv6wnC2LH+1Yog3tUQpS/FEw
XlylF3+v+HDBKEWiz3UYS/Wt7h5K3L3g+UYVKglyYtsqFySC3WJ0pOUr4bnwAsct
d8P8TmGUa6AEPgPzxiLmfsp8t5uQMMKerUhL1B9wM03E+wTFloAKb4MCAwEAATAN
BgkqhkiG9w0BAQsFAAOCAQEACxJ0WWi1Ds4yviafM/X6C2OQVJ3KX/8r9pxSP9bW
BXeaX82OJACVF7idzi1eKS5C5P/YGpCYkW5xvova7LJi7kX+WWcYTGF/06ODfIpJ
vDKe6d7gKKF/JgxU93BoKlemUI/eAAjtFzqnAVf4b1jKH05SrDTgXIThEIa9DrYU
aD65FtUnH2IQrEebBJHBtKbPxAdWRjILdc6DRoKlW2cBGPv2dd4JI+brDIEnfPAW
xSOUtyZDNMGDyOZd9nrzDGGpNHnSUmVllnxew8HYnHYP0DPUcX/fCqEvp/C+2hIM
scnXg1beMySrlQ27A5JmCKFNY402w7GdmJew0Xeo1zuE7g==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAxIqXhcJEQnoykMDHeRAeciCfGJv5a/GGTogm9owvrIfcA+NC
zNasSavVO/jVS3Xz6UqLU+DVUDEkuHH1HdUKUjQ9b9uwwnPVGYTTRgMRhIOxlW2Q
8sSLMlav9YOOPuxnwWWfgZE4QZtU+dBTUv1W+pPKLu4MjlPliFU0u4V4WUGFXRbh
wipMb/KVNquysnxh8ZQuC9yu/rCcLYsf7ViiDe1RClL8UTBeXKUXf6/4cMEoRaLP
dRhL9a3uHkrcveD5RhUqCXJi2yoXJILdYnSk5SvhufACxy13w/xOYZRroAQ+A/PG
IuZ+yny3m5Awwp6tSEvUH3AzTcT7BMWWgApvgwIDAQABAoIBAC4uPnIwdmeEXPNE
SNp6Xh0E6z0WESI66wry1OzjfaQ1fA3xzVViL7NTy9O+oSeM/JXZbSl1T8n68hzg
se6jizxLiBALd9oI646GdjoiKHCRnR12VDOm2OooEkpG8hp449w+a58/Jw/LVsko
GRwL6O8R4NTsHEkpD2rcUnqpXuDhqd9+bNvlCxd6wv9DUDcq+ZqS6GhUIvAj2cRQ
wi97PzGAzaD8YngVmLeRxTDEk5Sz0vSqj7bt2t5gzfRG0PkeXYPcM3fGPZp9UjvL
XztO6RrpucOGSiVm0HS3/UhSUYzDGVIrAYvxnbFj3LeJjynzFHLkSn1LRpHblVIe
7qowO2ECgYEA6MdQ9xPV2mpXIn4/Qr4cYlXTnjhok3x4O+b9pqhXgYuX24nvD/x8
n7if0nctV8MkfewKJYDtrK5r3uQVPG6cP0i5b0avQf9Die/L0DASdCgFIPsk2663
/aNSB78YX9iNALnXNsXVvtGPbIopXo4E1BAbrrgC0H6NAPMnxryZNZMCgYEA2CXa
MVRgZgsph4ioBy3kd0dbopMO1+z4KEgbSeLHqWHmSf+zP1y7C88FG38UaxfJH/n7
AgFfm5E1hOTYwgIs3CHv1NQOds/ZX3ybEnjaLchb7F0bfND9s0HKT6xZeCLSsG0R
PlY2pKACll7AKnkOciG3VHEGBHJimVYFmgO7FFECgYAtfR3GWtr0pslGVVN5cHtN
gCYtiiptf+pjEl3JHqaTCztuzIKqJhYYhFS/JUj4GIteDC1jbNGFaERuNzYrLBZe
i5CpPS/sfrytDO5QTcSdbGCsNEfcokUUTMEwAFj8Ce5sEOUMsBZ4Bq23cTxqXOh2
pHs0ZoMuSTy2zc2dGaf6/wKBgE0ovgosB7mFtI6IbwsZC9y0oXaYrozQMAoZK3yl
swa5Rv8Vg4RT8wWVIkqdg8lzFT4P+9XMbbfYD1XgZ6xiIGd4yeecx4kMS5m1npnq
gGAljQMEfcKBzH8INlNYwBuNus52MNii6CC+ag4Jxumii1CczpgbPL2ro5z/Q0Km
oErxAoGBALN1OWqVdoXKoh9PISmnxNM5m1T8aX59taDHa87pbujkNdGJkMLHVeK3
PQiB4bETkVH6jXFB2sWnPQ5qJCunpTaP7oiBUKuV07mBYnP1aD70AnUBqCU5NT8R
J9dWt7NtC8lXL7DhnnBCI35aodLcGuoTYz3A/adkH4KhIrqcYPLb
      -----END RSA PRIVATE KEY-----