files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      
      server {
        listen 443;
        server_name localhost;
        
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
        
        ssl_session_timeout 5m;
        
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
MIIDnjCCAoYCCQDXagaHbuZgdDANBgkqhkiG9w0BAQsFADCBkDELMAkGA1UEBhMC
VUsxDzANBgNVBAcMBkxvbmRvbjFDMEEGA1UEAww6Y2hhdGFwaWFsYi1lbnYuZWJh
LWdtZmttem1hLmV1LXdlc3QtMi5lbGFzdGljYmVhbnN0YWxrLmNvbTErMCkGCSqG
SIb3DQEJARYcbmF0YWxpYW1ha2FyY2h1azE3QGdtYWlsLmNvbTAeFw0yMjExMTMw
NzA2MjdaFw0yMzExMTMwNzA2MjdaMIGQMQswCQYDVQQGEwJVSzEPMA0GA1UEBwwG
TG9uZG9uMUMwQQYDVQQDDDpjaGF0YXBpYWxiLWVudi5lYmEtZ21ma216bWEuZXUt
d2VzdC0yLmVsYXN0aWNiZWFuc3RhbGsuY29tMSswKQYJKoZIhvcNAQkBFhxuYXRh
bGlhbWFrYXJjaHVrMTdAZ21haWwuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
MIIBCgKCAQEAxsZzassI7TfWhOgoBdSmf8P/WLka54Z73BrZpqLDEP++WXR9rudt
7v/bJcS0iBeDGhtmE5Tp7Q+z5Lma7K/NkG+OW98Y5BEmvZ8iwAdYKTh87V7CUYvA
Wi0BxSVBX/iZNRmjSnyUB6adZx4K9iV2Uod1WEBb2Jzl2o32X0r+LIB3WrP7xo6h
vRSfRcqHaMXyPDb8yXW0Ha2TKADPR03N/gnTG8daGW4mtq1ycMR2Te+gJ5LZC4xd
kQB1NnaFSptsPekkMNNq4gsjxS7+1MEvv0ilsZH7ft02D+Kw7LBpF0Io83JY5e7g
SLJAxEvGzyrq7HMoWFKKoet5HbLtNbRhTQIDAQABMA0GCSqGSIb3DQEBCwUAA4IB
AQCw530JExDDbkIBV+jbxYloFUX+EjCojt3rzW1om00LaaUpxf9xWDdW4Bnntzmg
x1a8qnPOaSzpIStFyqtEnWk5/D32bem46C0Fq1sCg2CRbZqNAStA278/R7YBqDtH
d+Lsp3dknyTnxdzVNR+FSRQPSroVjrHUddLjn7AslspdQo7ZLmm7Hqsp0bo4PQEQ
BsPcm1xPYugpoue9R3UTD4qj6HAWux50yfBo5/1PtNcDzpGjtATbGxhOQhKArf/d
3PbZRDxHdyqd743oT0SSgaBNJD3izZdXsriG5F3vT5cddAGxio7bzeb+oJQZ6ewv
DKQ0CQjrGDrsyu7hRgPEpqQs
-----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
MIIEpQIBAAKCAQEAxsZzassI7TfWhOgoBdSmf8P/WLka54Z73BrZpqLDEP++WXR9
rudt7v/bJcS0iBeDGhtmE5Tp7Q+z5Lma7K/NkG+OW98Y5BEmvZ8iwAdYKTh87V7C
UYvAWi0BxSVBX/iZNRmjSnyUB6adZx4K9iV2Uod1WEBb2Jzl2o32X0r+LIB3WrP7
xo6hvRSfRcqHaMXyPDb8yXW0Ha2TKADPR03N/gnTG8daGW4mtq1ycMR2Te+gJ5LZ
C4xdkQB1NnaFSptsPekkMNNq4gsjxS7+1MEvv0ilsZH7ft02D+Kw7LBpF0Io83JY
5e7gSLJAxEvGzyrq7HMoWFKKoet5HbLtNbRhTQIDAQABAoIBAQCfSpNdhn2N1Ex1
z7GbEpGnG8M6L4SO+2ewuFepQQ+/RKMe/splapLfj2voNV1THjxypHhFwvU/g3Dv
H4o2mJ/MWomjuAIzakc4eBmZ94i/58O9WU2xmaO44A5mFXfxV8A3HGeOHo1mIDBN
XXb9UIIkmub/pPu1d+5/GXrRXMCZmaP/eo45YCjUdDxO0P00LwXr6Jq1NICcstK7
eWOn9gJIPYvA+21iPajK5OYZAtMxvVSHMQmrTDvCp3AyvIxTQijKV9yHjO/4f+iO
R9pS8nNI8kSrmwrdHVAAtQea6vcxBFauE/Nqg8csePG6W6bvKMCVX0FOZXxVio0R
G8WLlpghAoGBAOHXE0nPs+e3ARjXitIfbkMx/n/YLEvYzdOF5jtCX75rtV09hbOb
kjTw7TILT7krQeEvQhpGh39c2oMTBZNq8eb00DxpNl5ucC8vjz3qJmVJHEM8hc6H
thY/H5J5B8jBQmMQ6uzH77GL3VHLtxFMD5cPyU0JE4h/ifD9ok6QtldZAoGBAOFS
F1IW6qBDp5KGG5Qsdd7c/kASVZbh19IWGtX+L3M34YMAj9CbuXyoI+3Bd0++5skD
fV3Kj8xxHJjwwhWPb7+rQVvfN9Gidrf5lPfpIjiGM+IiOQNhhY5UEH+7IS9aCFV+
Qkux8ceHuW0V6JE2lGyZXPMVdfgDzeRj2rcRiQ8VAoGBALZUvTbXYOkPv+v9gQ95
3ryTbWRr8/9cT3iZ3zIyuTf0n51ioUJLtLPXW7kOltPpj6utStIJ5TU3kxdF0Tee
nSSYvFI5o3KD+UCvRhd3pn4Zk57ZCzKeMK0vU18fJeC33tA6hWCbXvJZ+FokfW2S
mfedACmYzVNjnMubCmIhxYUpAoGAbDaT0q4E4xF7Amj8B87OkUlLppPnnT47+774
Bnw8Z7aXzOXRLBwOGmtaTg6Tca46gqH1bL0jEMnmNSGz5Mztm3zxN+FdmoXPRI5O
WD4UXFc/xcQv44rLrM582guSZX508DJiPp5ogy6RBG34Mv2mjP2e4XQWIxYYpS67
1R5L1/0CgYEAgMZ/K3Ia/brxe8DKv5LMpBGhvBtC1/af6bcNUIKmJ7fS/AL0exxL
JHgHkY7fWj+GCnagQbw5sdCJjaSvoJJL/JKgFDZgWoFS3tssblaCuGo0tOeAaJEl
shGRWwh/bBV7bac/kf7rV9mjznDf/HJMmQasoP7xofjeB5k4JW8CRjg=
-----END RSA PRIVATE KEY-----