files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      
      server {
        listen 443;
        server_name localhost;
        
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
        
        ssl_session_timeout 5m;
        
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDfjCCAmYCCQDEhIwgL0b8kDANBgkqhkiG9w0BAQsFADCBgDELMAkGA1UEBhMC
VUsxDzANBgNVBAcMBkxvbmRvbjERMA8GA1UECgwIV2ViIGNoYXQxHTAbBgNVBAMM
FG5hdGFsaTAwNzMuZ2l0aHViLmlvMS4wLAYJKoZIhvcNAQkBFh9uYXRhbGlhLm1h
a2FyY2h1a0Bzb21icmFpbmMuY29tMB4XDTIyMTExMDA2NDEzMFoXDTIzMTExMDA2
NDEzMFowgYAxCzAJBgNVBAYTAlVLMQ8wDQYDVQQHDAZMb25kb24xETAPBgNVBAoM
CFdlYiBjaGF0MR0wGwYDVQQDDBRuYXRhbGkwMDczLmdpdGh1Yi5pbzEuMCwGCSqG
SIb3DQEJARYfbmF0YWxpYS5tYWthcmNodWtAc29tYnJhaW5jLmNvbTCCASIwDQYJ
KoZIhvcNAQEBBQADggEPADCCAQoCggEBAMSKl4XCREJ6MpDAx3kQHnIgnxib+Wvx
hk6IJvaML6yH3APjQszWrEmr1Tv41Ut18+lKi1Pg1VAxJLhx9R3VClI0PW/bsMJz
1RmE00YDEYSDsZVtkPLEizJWr/WDjj7sZ8Fln4GROEGbVPnQU1L9VvqTyi7uDI5T
5YhVNLuFeFlBhV0W4cIqTG/ylTarsrJ8YfGULgvcrv6wnC2LH+1Yog3tUQpS/FEw
XlylF3+v+HDBKEWiz3UYS/Wt7h5K3L3g+UYVKglyYtsqFySC3WJ0pOUr4bnwAsct
d8P8TmGUa6AEPgPzxiLmfsp8t5uQMMKerUhL1B9wM03E+wTFloAKb4MCAwEAATAN
BgkqhkiG9w0BAQsFAAOCAQEACxJ0WWi1Ds4yviafM/X6C2OQVJ3KX/8r9pxSP9bW
BXeaX82OJACVF7idzi1eKS5C5P/YGpCYkW5xvova7LJi7kX+WWcYTGF/06ODfIpJ
vDKe6d7gKKF/JgxU93BoKlemUI/eAAjtFzqnAVf4b1jKH05SrDTgXIThEIa9DrYU
aD65FtUnH2IQrEebBJHBtKbPxAdWRjILdc6DRoKlW2cBGPv2dd4JI+brDIEnfPAW
xSOUtyZDNMGDyOZd9nrzDGGpNHnSUmVllnxew8HYnHYP0DPUcX/fCqEvp/C+2hIM
scnXg1beMySrlQ27A5JmCKFNY402w7GdmJew0Xeo1zuE7g==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    source: https://private-key.s3.eu-west-2.amazonaws.com/web-chat-key.pem